.prose {
  padding-left: 10px;
  padding-right: 10px;
}

.prose p {
  font-size: 17px;
  line-height: 1.8;
  margin-top: 1rem;
  margin-bottom: 1rem;
  letter-spacing: 0.05em;
  font-family: "Roboto", "Noto Sans JP";
  font-weight: 430;
  font-optical-sizing: auto;
}

.prose h2 {
  /* text-decoration: underline; */
  text-underline-offset: 5px;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  letter-spacing: 0.02em;
  color: var(--heading-color);

  a {
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--heading-color);
  }
}

.prose h2::before {
  content: "##";
  color: var(--heading-prefix);
  margin-right: 0.5rem;
}

.prose h3 {
  margin-top: 1.8rem;
  margin-bottom: 1.0rem;
  color: var(--heading-color);
}

.prose h3::before {
  content: "###";
  color: var(--heading-prefix);
  margin-right: 0.5rem;
}

.prose blockquote {
  margin-right: 0;
  border-left: 4px solid var(--blockquote-border);
  padding-left: 15px;
  margin: 20px 0;

  p {
    font-size: 0.93rem;
  }
}

.prose .external-link {
  margin-left: 0.2rem;
  margin-right: 0.1rem;
}

.prose ul {
  padding-left: 20px;
}

.prose li {
  line-height: 1.5;
  margin-bottom: 0.3em;
}

.prose img {
  width: 100%;
  height: auto;
}

.prose img[alt$="#small"] {
  width: 200px;
  height: auto;
}

.prose img[alt$="#middle"] {
  width: 50%;
  height: auto;
}

.prose img[alt$="#upper"] {
  width: 80%;
  height: auto;
}

.prose pre {
  background-color: #1e1e1e;
  border-radius: 8px;
  padding: 1rem;

  display: block;
  width: 100%;
  max-width: 100%;
  overflow-x: auto;
  box-sizing: border-box;
}

.prose pre code {
  padding: 0;
  margin: 0;
  color: #f8f8f2;
  display: block;
  font-family: 'Fira Code', monospace;
  white-space: pre;

  background: none;
  border-radius: 0;
}

.prose code {
  font-family: "Fira Code", Consolas, 'Liberation Mono', Menlo, monospace;
  background-color: rgba(175, 184, 193, 0.2);
  border-radius: 6px;
  padding: 0.2em 0.4em;
  font-size: 85%;
  word-break: break-word;
}

@media (max-width: 640px) {
  .prose p {
    font-size: 16px;
  }

  .prose pre {
    padding: 0.75rem;
    border-radius: 4px;
    -webkit-overflow-scrolling: touch;
  }
}

.prose a {
  color: var(--a-link-in-post);
  text-decoration: none;
  font-size: 1.05rem;
  background-image: linear-gradient(var(--a-under-in-post-hovered), var(--a-under-in-post-hovered));
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 0 1px;
  transition: background-size 0.3s ease-in-out;
  padding-bottom: 0;
}

.prose a:hover {
  color: var(--a-link-in-post-hovered);
  background-size: 100% 1px;
}
