---
const version = __APP_VERSION__
const build = new Date(__BUILD_TIME__)
const human = new Intl.DateTimeFormat("ja-JP", {
  year: "numeric",
  month: "2-digit",
  day: "2-digit",
  hour: "2-digit",
  minute: "2-digit",
  hour12: false,
  timeZone: "Asia/Tokyo",
}).format(build)
import '../styles/global.css';
---

<footer>
  <div class="copy-right">
    <p>&copy; 2026 Uliboooo. All rights reserved.</p>
    <p>Fonts by <a href="https://github.com/qwerasd205/AnnotationMono" target="_blank" rel="noopener noreferrer" class="link--underline link--external">Annotation Mono</a></p>
  </div>
  <div class="site_info">
    <p>{human} JST (v.{version})</p>
    <p><a href="https://github.com/Uliboooo/blog", target="_blank" rel="noopener noreferrer" class="link--underline link--external">View Source</a></p>
  </div>
</footer>

<style>
  footer {
    border-top: 1px solid #545454;
    padding-top: 1rem;
    font-family: var(--base-fonts-sans);
    margin-top: 2.5rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;

    .copy-right {
      align-items: center;
      gap: 1rem;
      p {
         font-family: var(--base-fonts-sans);
         margin: 0;
      }
    }
    a {
      font-family: var(--base-fonts-sans);
    }
    .site_info {
      font-family: var(--base-fonts-sans);
      text-align: center;
      gap: 1rem;
      p {
        font-family: var(--base-fonts-sans);
        margin: 0;
      }
    }
  }
  @media (max-width: 640px) {
    footer {
      justify-content: center;
      text-align: center;
      .copy-right, .site_info {
        justify-content: center;
      }
    }
  }
</style>
