<footer>
  <div>
    <p>&copy; 2026 Uliboooo. All rights reserve.<p>
  </div>
  <div>
    <a href="https://github.com/Uliboooo/blog", target="_blank" rel="noopener noreferrer">View Source</a>
  </div>
</footer>

<style>
  footer {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    a {
      text-decoration: none;
    }
  }
</style>
