---
// src/layouts/BlogPost.astro
import MainLayout from './MainLayout.astro';
import '../styles/post.css';

const { title, date } = Astro.props;
---

<MainLayout title={title}>
  <article class="prose">
    <h1>{title}</h1>
    {date && <time>{date.toLocaleDateString('ja-JP')}</time>}
    <slot />
  </article>
</MainLayout>
